{% extends "_base.html"%}
{% block content %}
<center>
    <table class="table">
        <tr>
            <!--<th>Id</th>-->
            <th>item</th>
            <th>Image</th>
            <th>user</th>
            <th>price</th>
            <th>quantity</th>
        </tr>
        {% for obj in object %}
        <tr>
            <!--<td>{{obj.id}}</td>-->
            <td>{{obj.item}}</td>
            <td>
                {% if obj.image %}
                <img src="{{obj.image.url}}" width="50px" height="50px" style=""/>
                {% endif %}
            </td>
            <td>{{obj.user}}</td>
            <td>{{obj.price}}</td>
            <td>{{obj.quantity}}</td>
        </tr>
        {% endfor %}
    </table>
</center>
{% endblock %}