{% extends "_base.html"%}

{% block content %}
<center>


    <div class="mdl-cell mdl-cell--4-col">
        <div>
            <table class="mdl-data-table mdl-js-data-table">
                <caption style="align:center;margin-left:20px"><h4><strong>CONTACT-INFORMATION</strong></h4></caption>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>NAME:</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">AJAYKING</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>EMAIL:</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">king@ajay.com</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>ADDRESS:</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">GOOGLE,SILICON-WALLEY</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>PHONENO:</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">9999999999</td>
                </tr>
            </table>
        </div>
    </div>
</center>
{% endblock %}