{% extends "_base.html"%}

{% block content %}
<style>
    #table-wrapper {
        position:relative;
    }
    #table-scroll {
        height:250px;
        width:350px;
        overflow:auto;
        margin-top:20px;
    }

</style>
<div align="left">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--8-col">
            <div class="mdl-card mdl-shadow--2dp" style="width: 100%">
                <div class="mdl-grid" style="margin: 0;">
                    <div class="mdl-cell mdl-cell--6-col">
                        <div class="mdl-card__supporting-text">
                            <img src="{{object.image.url}}" width="180px" style=""/>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <h1>
                            {{object.name}}
                        </h1>
                        <p>
                            <b>INFO:</b> {{object.description}}
                        </p>
                        <p>
                            <b>
                                Price:</b> {{object.price}}
                        </p>
                        <!-- Colored raised button -->
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            <a href="{% url 'GlobalCartapp:reviews' object.id %}"
                               style="color:white;text-decoration:none"><i
                                    class="material-icons">add_circle</i> Add review</a>
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            <a href="{% url 'GlobalCartapp:cashondeliver' object.id %}"
                               style="color:white;text-decoration:none"><i
                                    class="material-icons">book</i> BOOK ITEM</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col" id="table-wrapper" style="margin-left:8px">
            <div id="table-scroll">
                {% if review %}
                <table class="mdl-data-table mdl-js-data-table">
                    <caption style="align:center;margin-left:20px"><h5><strong style="color:black">Reviews and
                        Rating</strong></h5></caption>
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><strong style="color:black">review_by</strong>
                        </th>
                        <th class="mdl-data-table__cell--non-numeric"><b style="color:black">review</b></th>
                        <th class="mdl-data-table__cell--non-numeric"><b style="color:black">rating</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rev in review %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">{{rev.user__username}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{rev.reviews}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{rev.rating}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                {% if not review %}
                <table class="mdl-data-table mdl-js-data-table">
                    <caption style="align:center;margin-left:20px"><h6><strong style="color:black">No reviews be the
                        first person to review</strong></h6></caption>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}