{% extends "_base.html"%}

{% block content %}
<center>


    <div class="mdl-cell mdl-cell--4-col" id="table-wrapper">
        <div id="table-scroll">
            <table class="mdl-data-table mdl-js-data-table">
                <caption style="align:center;margin-left:20px"><h4><strong>USER-INFORMATION</strong></h4></caption>
                {% for user in userdata %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>USERNAME:</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">{{user.username}}</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>EMAIL:</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">{{user.email}}</td>
                </tr>
                {% endfor %}

                {% for user in userinfo_data %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>ADDRESS:</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">{{user.address}}</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>PHONENO:</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">{{user.phonenumber}}</td>
                </tr>
                {% endfor %}
            </table>
            <div style="margin-top:20px">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    <a href="{% url 'GlobalCartapp:editprofile' user.id %}" style="color:white;text-decoration:none"><i
                            class="material-icons">create</i> Edit profile</a>
                </button>
            </div>
        </div>
    </div>
</center>
{% endblock %}