{% extends "_base.html"%}

{% block content %}
{% if object %}
<center><h4>YOUR-WISHLIST</h4></center>
<div class="mdl-grid">
    {% for obj in object %}
    <div class="mdl-cell mdl-cell--4-col">
        <div class="mdl-card mdl-shadow--4dp" style="width:240px;text-align:center;">
            <a href="{% url 'GlobalCartapp:itemcompleteinfo' obj.item_id %}">
            <img src="{{obj.image.url}}" height="150px" style="margin: auto; padding-top:12px;"/>
            </a>
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{obj.item}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <strong style="font-size:19px">price:{{obj.price}}</strong>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised"
                   style="text-decoration:none"
                   href="{% url 'GlobalCartapp:deletewishitem' obj.id %}"><i
                    class="material-icons">delete</i>
                    Remove
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<center><h4>EMPTY-WISHLIST</h4></center>
{% endif %}
{% endblock %}